<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>TĐM - Trang chủ</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Additional CSS Files -->

    <link href="~/assets/css/fontawesome.css" rel="stylesheet" />
    <link href="~/assets/css/templatemo-villa-agency.css" rel="stylesheet" />
    <link href="~/assets/css/owl.css" rel="stylesheet" />
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!--

    TemplateMo 591 villa agency

    https://templatemo.com/tm-591-villa-agency

    -->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <ul class="info">
                        <li><i class="fa fa-envelope"></i>nnminh.240902@gmail.com</li>
                        <li><i class="fa fa-map"></i>64/10 Hoàng Hữu Nam, Long Thạnh Mỹ</li>
                        <li><a href="~/Home/BookingView">Xem lịch khám</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4">
                    <ul class="social-links">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="~/Home/Index" class="logo">
                            <h1>TĐM</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <form action="@Url.Action("Search", "Home")" method="get" class="search-form">
                            <div class="search-input-wrapper">
                                <input type="text" name="keyword" placeholder="Nhập từ khóa tìm kiếm" class="search-input" />
                                <button type="submit" class="search-button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                        <ul class="nav">
                            <li class="scroll-to-section"><a style="background-color:#00ffff; border-radius:10px" href="~/Home/Appointment">Đặt Lịch Ngay</a></li>

                            <li><a href="~/Home/Service">Dịch vụ</a></li>
                            <li><a href="~/Home/BlogGrid">Tin tức</a></li>
                            <li><a href="~/Home/About">Giới thiệu</a></li>
                            <li><a href="~/Home/Contact">Liên Hệ</a></li>
                            <li>@Html.Partial("_LoginPartial")</li>
                            @*<li><a href="#"><i class="fa-solid fa-right-to-bracket"></i>Đăng Nhập</a></li>*@
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()
    <footer>
        <div class="container">
            <div class="col-lg-8">
                <h2>​LIÊN HỆ VỚI TĐM Booking </h2>
            </div>
        </div>
    </footer>

    <style>
        /* Add this to your existing stylesheet or create a new one */
        .search-form {
            display: flex;
            justify-content: center;
            margin-bottom: 60px;
            margin-top: 30px;
            margin-left: 44px;
        }

        .search-input-wrapper {
            position: relative;
            display: flex;
        }

        .search-input {
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px 0 0 5px;
            outline: none;
            width: 200px; /* Adjust the width as needed */
        }

        .search-button {
            background-color: #00ffff;
            border: none;
            border-radius: 0 5px 5px 0;
            color: #fff;
            cursor: pointer;
        }
    </style>
    <!-- Scripts -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/counter.js"></script>
    <script src="~/assets/js/custom.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>