
@{
    ViewBag.Title = "NoResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model NhaKhoa.Models.SearchViewModel

<h2>Chúng tôi không tìm thấy kết quả cho '@Model.Keyword'</h2>
<p>Không có kết quả nào được tìm thấy.</p>

